<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
  <%- include('../partials/navbar') %>

  <div class="container mt-5">
    <div class="jumbotron">
      <h1>Fitsbook</h1>
      <p>Homepage</p>
    </div>
  </div>

  <%- include('../partials/scripts') %>
</body>
</html>