<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
  <%- include('../partials/navbar') %>

  <div class="container mt-4">
    <h2>Trained Models</h2>

    <% debugger %>

    <% Object.keys(models).forEach(id => { %>
      <% 
      let options = {
        id: id,
        name: models[id].model.name,
        start_time: models[id].training_start,
        end_time: models[id].training_end
      }
      %>
      <%- include('../partials/card_model', options) %>      
    <% }) %>
  </div>

  <%- include('../partials/scripts') %>
</body>
</html>